body{
    margin:0px;
    padding:0px;
    display: flex;
    justify-content: center;
     align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #434343 8%, rgba(0, 0, 0, 0.987) 100%);

}
